# Byte-compiled files
__pycache__/

# pytest
.pytest_cache/

# Artifacts
*.pdf
*.xml

# the download test result
test_download

# the hypothesis temps
.hypothesis/

# build temps
*.egg-info/
docs/_build/
