-c requirements.txt

-e .
black
flake8
hypothesis
mypy
pylint
pytest
pytest-cov
sphinx<7.2  # This is needed for Python 3.8.
sphinx_rtd_theme
tox
# The following are only needed for Python 3.8 and can be deleted on dropping support.
sphinxcontrib-applehelp<=1.0.4  # This is needed for Python 3.8.
sphinxcontrib-devhelp<=1.0.2  # This is needed for Python 3.8.
sphinxcontrib-htmlhelp<=2.0.1  # This is needed for Python 3.8.
sphinxcontrib-qthelp<=1.0.3  # This is needed for Python 3.8.
sphinxcontrib-serializinghtml<=1.1.5  # This is needed for Python 3.8.
